//fonts
@font-face
{
    font-family: LatoBlack;
    font-weight: 900;
    font-style: normal;

    src: url(/../fonts/Lato-Black.ttf);
}

@font-face
{
    font-family: LatoBold;
    font-weight: 700;
    font-style: normal;

    src: url(/../fonts/Lato-Bold.ttf);
}

@font-face
{
    font-family: LatoRegular;
    font-weight: 400;
    font-style: normal;

    src: url(/../fonts/Lato-Regular.ttf);
}

@font-face
{
    font-family: LatoLight;
    font-weight: 300;
    font-style: normal;

    src: url(/../fonts/Lato-Light.ttf);
}


@font-face
{
    font-family: 'Avenir-Black';
    font-weight: 900;
    font-style: normal;

    src: url(/../fonts/Avenir-Black.otf);
}

@mixin greenFont
{
    font-family: 'Georgia',sans-serif;
    font-size: clamp(16px, 2.4vw, 5rem);
    font-weight: 700;
    line-height: 157%;

    color: #01996d;
    @media screen and (min-width: 1920px)
    {
        font-size: clamp(30px,2.7vw,10rem);;
    }
    @media screen and (max-width: 1440px)
    {
        font-size: clamp(16px, 2.8vw, 3rem);
    }
    @media screen and (max-width: 1100px)
    {
        font-size: clamp(16px, 3vw, 3rem);
    }
    @media screen and (max-width: 768px)
    {
        font-size: clamp(20px, 4vw, 10rem);
    }
}

@mixin paragrahe
{
    font-family: 'Lato',sans-serif;
    font-size: clamp(12px,1.05vw,2rem);
    font-weight: 500;
    line-height: 150%;

    color: #424242;
    @media screen and (max-width: 1440px)
    {
        font-size: clamp(12px,1.2vw,16px);
    }
}

@mixin whiteParagrahe
{
    font-family: 'Lato',sans-serif;
    font-size: clamp(16px,1.3vw,2rem);
    font-weight: 500;
    font-style: normal;
    line-height: 157%;

    color: #fff;;
}

@mixin numberItem
{
    font-family: 'Georgia',sans-serif;
    font-size: calc(100px + 50 * (100vw - 1100px) / 1920);
    font-weight: 400;
    line-height: 150%;

    opacity: .2;
    color: #01996d;
    @media screen and (max-width:1100px)
    {
        font-size: calc(70px + 30 * (100vw - 768px) / 1100);
    }
    @media screen and (max-width:768px)
    {
        font-size: calc(80px + 30 * (100vw - 320px) / 768);
        line-height: 100%;
    }
}

@mixin boldFont
{
    font-family: 'Georgia', sans-serif;
    font-size: clamp(12px,1.5vw,3rem);
    font-weight: 700;
    font-style: normal;
    line-height: 150%;

    color: black;
    @media screen and (max-width:1600px)
    {
        font-size: clamp(12px,1.4vw,20px);

        left: 50px;
    }
    @media screen and (max-width:1100px)
    {
        font-size: clamp(12px,1.7vw,16px);
    }
    @media screen and (max-width:768px)
    {
        font-size: clamp(10px,2vw,20px);
    }
}

@mixin cardHeadText
{
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 157%;

    color: #000;
}

@mixin cardParagraheText
{
    font-family: LatoRegular,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 157%;

    color: #000;
}

@mixin greenBtn
{
    font-family: Lato, sans-serif;
    font-size: calc(18px + 2 * (100vw - 1280px) / 1920);
    font-weight: 400;

    padding: 20px 50px;

    cursor: pointer;
    transition: background .7s;

    color: #fff;
    border: 1px solid #01996d;
    border-radius: 4px;
    background-color: #01996d;
    &:hover,
    &:focus
    {
        background: #027856;
    }
}


body
{
    min-width: 320px;

    &.lock{
    	position:fixed;
    	overflow:hidden;
    }
}


header
{
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 80px;

    border-bottom: 1px solid #d6d6d6;
    background-color: #fff;
    .header__wrapper
    {
        display: flex;

        width: 100%;
        padding: 0 270px;

        justify-content: space-between;
        align-items: center;
    }
    .header__content
    {
        display: flex;
        flex-direction: row;

        width: 85%;

        justify-content: space-between;
        align-items: center;
        .header__navbar
        {
            width: 60%;
            .header__navbar__items
            {
                display: flex;

                margin-right: 10%;

                justify-content: space-around;
                .header__navbar__item__link
                {
                    transition: opacity .7s;
                    text-decoration: none;

                    color: #000;
                    &:hover,
                    &:focus
                    {
                        opacity: .8;
                    }
                }
            }
        }
    }
    .header__mobile__btn
    {
        display: none;
    }
    .header__links__sign_in
    {
        font-family: 'Lato',sans-serif;
        font-size: calc(16px + 4 * (100vw - 1280px) / 1920);
        font-weight: 500;
        font-style: normal;
        line-height: 24px;

        transition: opacity .7s;
        text-decoration: none;

        color: #000;
        &:hover,
        &:focus
        {
            opacity: .8;
        }
    }
    .header__links__start
    {
        margin-left: 25px;
        padding: 13px 50px;

        transition: background .7s;
        text-decoration: none;

        color: #fff;
        border: 1px solid #01996d;
        border-radius: 4px;
        background: #01996d;
        &:hover,
        &:focus
        {
            background: #027856;
        }
    }
    .header__navbar__item__link,
    .header__links__start,
    .header__links__sign_in
    {
        font-family: 'Lato',sans-serif;
        font-size: 20px;
        font-size: calc(16px + 4 * (100vw - 1280px) / 1920);
        font-weight: 500;
        font-style: normal;
        line-height: 24px;
    }
}

//about us
.about_us
{
    position: relative;

    width: 100%;
    height: 100vh;

    background: url('../img/main-bg.webp') center no-repeat;
    background-size: cover;
    &:before
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: linear-gradient(112.58deg, #fff 18.15%, rgba(255, 255, 255, 0) 53.07%), rgba(0, 0, 0, .1);
    }
    .about_us__container
    {
        position: relative;
        z-index: 1;

        padding: 80px 0 0 275px;
        h1
        {
            font-family: Georgia, sans-serif;
            font-size: calc(50px + 12 * (100vw - 1280px) / 1920);
            font-weight: 700;
            line-height: 74px;

            padding: 175px 10px 0 0;

            color: #01996d;
        }
        p
        {
            font-family: Lato, sans-serif;
            font-size: calc(18px + 2 * (100vw - 1280px) / 1920);
            font-weight: 400;
            line-height: 31px;

            width: 420px;
            padding: 30px 10px 0 0;

            color: #484848;
        }
        button
        {
            font-family: Lato, sans-serif;
            font-size: calc(18px + 2 * (100vw - 1280px) / 1920);
            font-weight: 400;

            margin-top: 30px;
            padding: 20px 50px;

            cursor: pointer;
            transition: background .7s;

            color: #fff;
            border: 1px solid #01996d;
            border-radius: 4px;
            background-color: #01996d;
            &:hover,
            &:focus
            {
                background: #027856;
            }
        }
    }
}

//container
.container
{
    padding: 0 275px;
}

//second display
.steps
{
    padding-top: 75px;
    .steps__head
    {
        font-family: Lato, sans-serif;
        font-size: calc(20px + 4 * (100vw - 1100px) / 1920);
        font-weight: 600;

        color: #424242;
    }
    .steps__description
    {
        position: relative;

        display: flex;

        width: 100%;

        align-items: center;
        justify-content: space-between;
        .steps__description__release
        {
            width: 43%;
            padding-right: 20px;
            h3
            {
                @include greenFont;
            }
        }
        .steps__description__option
        {
            width: 42%;
            p
            {
                @include paragrahe;
            }
        }
    }
    .steps__options
    {
        position: relative;

        display: flex;

        width: 100%;

        align-items: flex-start;
        justify-content: space-between;
        .steps__options__one,
        .steps__options__two,
        .steps__options__three
        {
            width: 28%;
            img
            {
                width: 100%;
                height: auto;
                margin-top: 2rem;
            }
        }
        .steps__options__one
        {
            padding-right: 10px;
        }
        .steps__options__two
        {
            width: 30%;
            padding: 220px 10px 50px 10px;

            align-self: flex-end;
        }
        .steps__options__three
        {
            padding-left: 10px;
            .steps__options__header
            {
                p
                {
                    left: 100px;
                }
            }
        }
        .steps__options__header
        {
            position: relative;
            h4
            {
                @include numberItem;
            }
            p
            {
                position: absolute;
                top: 60%;
                left: 65px;

                @include boldFont;
            }
        }
        p
        {
            @include paragrahe;
        }
    }
}

//story block
.story
{
    background-color: #245852;
    .story__container
    {
        display: flex;

        padding: 220px 205px 170px 205px;

        justify-content: space-between;
        align-items: center;
    }
    .story__info
    {
        width: 40%;
        h4
        {
            font-size: 2.6vw;

            color: #fff;

            @include greenFont;
        }
        p
        {
            padding: 30px 0 50px 0;

            @include whiteParagrahe;
        }
        .story__info__btn
        {
            font-size: clamp(12px, 1.05vw, 3rem);

            padding: 20px 50px;

            cursor: pointer;
            transition: background .8s;

            border: 1px solid #01996d;
            border-radius: 4px;
            background-color: #01996d;

            @include whiteParagrahe;
            &:hover
            {
                background-color: #027856;
            }
        }
    }
    .story__video
    {
        position: relative;

        width: 60%;
        padding-left: 20px;
        video
        {
            position: relative;

            width: 100%;
            height: auto;
        }
        .story__video__icon
        {
            position: absolute;
            top: 50%;
            left: 50%;

            margin: 0;
            margin-right: -50%;

            cursor: pointer;
            transform: translate(-50%, -50%);
            & > svg
            {
                transition: transform .8s;
            }
            &:hover,
            &:focus
            {
                svg
                {
                    transform: scale(1.2);
                }
            }
            &.hide
            {
                visibility: hidden;
            }
        }
    }
}

//our product block

.our_product
{
    position: relative;

}
.our_product__wrapper
{
    display: flex;
    flex-direction: row;

    padding: 120px 0 220px 0;

    justify-content: space-between;
    .our_product__customize
    {
        position: relative;

        width: 47%;
        margin-left: 50px;
        .our_product__customize__img
        {
            width: 100%;
            height: auto;
        }
        .our_product__customize__card
        {
            position: absolute;
            bottom: -75px;
            left: -60px;

            display: flex;
            flex-direction: column;

            padding: 1.8rem 3.5vw;

            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 3.62249px 18.1125px rgba(165, 165, 165, .25);

            align-items: center;
            h5
            {
                padding-bottom: 8px;

                border-bottom: .75px solid #000;

                @include cardHeadText;
            }
            .our_product__customize__card__profile
            {
                text-align: center;
                .our_product__customize__card__profile__img
                {
                    overflow: hidden;

                    width: 50px;
                    margin: 10px 0;

                    border-radius: 90px;
                    background-color: rgba(1, 153, 109, .2);;
                    img
                    {
                        width: 100%;
                        height: auto;
                    }
                }
                p
                {
                    margin-bottom: 20px;

                    @include cardParagraheText;
                }
            }
            .our_product__customize__list
            {
                p
                {
                    font-size: 16px;
                    font-weight: 700;

                    @include cardHeadText;
                }
                li
                {
                    font-size: 12px;

                    margin-left: 5px;
                    padding: 15px 0 0 5px;

                    @include cardParagraheText;
                    &::marker
                    {
                        font-size: 12px;

                        content: '•';
                    }
                }
            }
        }
    }
    .our_product__description
    {
        width: 45%;
        padding-left: 20px;
        .our_product__description__caption
        {
            font-family: 'LatoBold',sans-serif;
            font-size: clamp(12px,1.3vw,3rem);
            line-height: 157%;

            color: #424242;
        }
        h3
        {
            font-size: clamp(16px,2.38vw,5rem);

            margin-top: 10px;

            @include greenFont;
        }
        .our_product__description__parargraphe
        {
            margin-top: 20px;
            padding-right: 80px;

            @include paragrahe;
        }
        .our_product__description__button
        {
            margin-top: 40px;

            @include greenBtn;
        }
    }
}

//footer
footer
{
    background-color: #245852;
}
.footer-wrapper
{
    padding: 95px 0 100px 0;
    h5
    {
        font-family: 'Avenir-Black',sans-serif;
        font-size: clamp(20px,2.1vw,5rem);

        color: #fff;
    }
    .footer_list__item
    {
        padding: 60px 10px 0 0;
        a
        {
            font-family: 'LatoBold';
            font-size: clamp(12px,1.2vw,3rem);
            font-weight: 600;

            text-decoration: none;

            color: #fff;

            font-height: 30px;
            transition: color 0.3s ease;
            &:hover{
            	color: rgb(33, 211, 255);
            }
        }
    }
}

@media screen and (min-height:1050px){
	.about_us{
		.about_us__container{
			height:100%;
			padding:0 275px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			h1{
				padding:0;
			}
			button{
				width:fit-content;
			}
		}
	}
}

@media screen and (max-width: 1440px)
{
    header
    {
        .header__content
        {
            width: 90%;
        }
        .header__wrapper
        {
            padding: 0 140px;

            .header__links__start
            {
                padding: 10px 30px;
            }
        }
    }
    .about_us
    {
        .about_us__container
        {
            padding: 80px 0 0 140px;
        }
    }

    //container
    .container
    {
        padding: 0 140px;
    }
    //steps
    .steps
    {
        .steps__options .steps__options__two
        {
            width: 32%;
            padding: 180px 10px 50px 10px;
        }
    }
    //story block
    .story
    {
        .story__container
        {
            padding: 120px 100px 100px 100px;
        }
    }
    .our_product__wrapper .our_product__customize
    {
        margin-left: 10px;
        .our_product__customize__card
        {
            padding: 1.4rem 2vw;
            h5
            {
                padding-bottom: 5px;
            }
            .our_product__customize__card__profile
            {
                .our_product__customize__card__profile__img
                {
                    margin: 5px 0;
                }
                p
                {
                    margin-bottom: 10px;
                }
            }
            .our_product__customize__list
            {
                li
                {
                    padding: 5px 0 0 5px;
                }
            }
        }
    }
    .footer-wrapper
    {
        padding: 75px 0 85px 0;

        .footer_list__item
        {
            padding: 40px 10px 0 0;
        }
    }
}

@media screen and (max-width: 1100px),(max-height:700px)
{
    header
    {
        .header__wrapper
        {
            padding: 0 80px;
        }
        .header__logo img
        {
            width: 75%;
        }
        .header__navbar__item__link,
        .header__links__start,
        .header__links__sign_in
        {
            font-size: calc(14px + 2 * (100vw - 1280px) / 1920);
        }
    }
    .about_us
    {
        min-height: 600px;
        .about_us__container
        {
            display: flex;
            flex-direction: column;

            height: 100%;
            padding: 0 0 0 80px;

            justify-content: center;
            h1
            {
                font-size: calc(40px + 12 * (100vw - 768px) / 1100);
                line-height: 50px;

                width: fit-content;
                padding: 0 10px 10px 0;
            }
            p
            {
                font-size: calc(16px + 4 * (100vw - 768px) / 1100);
                line-height: 26px;

                padding: 20px 10px 0 0;
            }
            button
            {
                font-size: calc(16px + 4 * (100vw - 768px) / 1100);

                width: fit-content;
            }
        }
    }

    //container
    .container
    {
        padding: 0 80px;
    }

    //steps
    .steps
    {
        .steps__options
        {
            .steps__options__header
            {
                p
                {
                    left: 40px;
                }
            }
            .steps__options__three
            {
                .steps__options__header
                {
                    p
                    {
                        left: 65px;
                    }
                }
            }
            .steps__options__two
            {
                padding: 160px 10px 50px 10px;
            }
        }
    }

    //story 
    .story
    {
        .story__container
        {
            padding: 80px 50px 100px 50px;
            .story__info
            {
                p
                {
                    font-size: clamp(14px,1vw,2rem);

                    padding: 10px 0 20px 0;
                }
                .story__info__btn
                {
                    padding: 10px 30px;
                }
            }
        }
        .story__video__icon
        {
            width: 50px;
            height: 50px;
            svg
            {
                width: 50px;
                height: 50px;
            }
        }
    }
    .our_product__wrapper
    {
        padding: 80px 0 120px 0;
        .our_product__description
        {
            h3
            {
                margin-top: 5px;
            }

            .our_product__description__parargraphe
            {
                margin-top: 5px;
                padding-right: 0;
            }
            .our_product__description__button
            {
                font-size: calc(12px + 6 * (100vw - 768px)/ 1100);

                margin-top: 15px;
                padding: 10px 30px;
            }
        }
        .our_product__customize
        {
            margin-left: 10px;
            .our_product__customize__card
            {
                bottom: -50px;
                left: -40px;

                padding: 1rem 2vw;
                h5
                {
                    font-size: 12px;

                    padding-bottom: 4px;
                }
                .our_product__customize__card__profile
                {
                    .our_product__customize__card__profile__img
                    {
                        margin: 5px 0;
                    }
                    p
                    {
                        margin-bottom: 0;
                    }
                }
                .our_product__customize__list
                {
                    p
                    {
                        font-size: 12px;
                    }
                    li
                    {
                        font-size: 10px;

                        padding: 5px 0 0 3px;
                        &::mark
                        {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    .footer-wrapper
    {
        padding: 35px 0 45px 0;

        .footer_list__item
        {
            padding: 20px 10px 0 0;
        }
    }
}



@media screen and (max-width: 768px), (max-height: 400px)
{
    header
    {
        position: fixed;
        z-index: 50;

        height: 60px;

        &:before
        {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';

            background-color: #fff;
        }
        .header__wrapper
        {
            padding: 0 40px;
        }
        .header__content
        {
            position: fixed;
            top: -100%;
            left: 0;

            display: flex;
            visibility: hidden;
            overflow: auto;
            flex-direction: column;

            width: 100%;
            height: 100%;

            transition: top .8s, visibility .8s linear;

            background-color: #e9e9e9;

            align-items: flex-start;
            justify-content: flex-start;
            .header__navbar
            {
                width: 100%;
                min-width:280px;
            }
            .header__navbar__items
            {
                display: flex;
                flex-direction: column;

                margin-top: 60px;
                padding: 0 10px 0 40px;

                li
                {
                    padding-top: 20px;
                }
            }
            .header__links
            {
                display: flex;
                flex-direction: column;

                padding: 50px 10px 0 40px;
                min-width:220px;
                .header__links__start
                {
                	width: fit-content;
                    margin: 15px 0;
                }
            }
        }
        .header__navbar__item__link,
        .header__links__start,
        .header__links__sign_in
        {
            font-size: calc(16px + 4 * (100vw - 320px) / 1920);
        }
        .header__logo
        {
            z-index: 4;
        }
        .header__mobile__btn
        {
            position: relative;
            z-index: 4;

            display: block;

            width: 30px;
            height: 25px;

            cursor: pointer;
            &:before,
            &:after
            {
                position: absolute;
                left: 3px;

                display: block;

                height: 3px;

                content: '';
                transition: all .8s;

                border-radius: 8px;
                background-color: black;
            }
            &:before
            {
                top: 7px;

                width: 15px;
            }
            &:after
            {
                top: 15px;

                width: 25px;
            }
            &:hover:before,
            &:focus:before
            {
                width: 25px;
            }
            &:hover:after,
            &:focus:after
            {
                width: 15px;
            }
            &.active:before,
            &.active:after
            {
                width: 25px;

                transition: rotate, .8s;
            }
            &.active:before
            {
                top: 10px;

                transform: rotate(45deg);
            }
            &.active:after
            {
                top: 10px;

                transform: rotate(-45deg);
            }
            &.active:hover:after
            {
                transform: rotate(-25deg);
            }
            &.active:hover:before
            {
                transform: rotate(25deg);
            }
        }
    }

    header.active
    {
        .header__content
        {
            top: 0;

            visibility: visible;
        }
    }
    .about_us
    {
        .about_us__container
        {
            padding: 0 0 0 40px;
            h1
            {
                font-size: calc(30px + 12 * (100vw - 320px)/ 768);
                line-height: 40px;
            }
            p
            {
                font-size: calc(12px + 4 * (100vw - 320px) / 768);
                line-height: 20px;

                width: fit-content;
                max-width: 500px;
                padding: 10px 20% 0 0;
            }
            button
            {
                font-size: calc(12px + 4 * (100vw - 320px) / 768);

                margin-top: 15px;
                padding: 15px 30px;
            }
        }
    }
    //container
    .container
    {
        padding: 0 40px;
    }

    //steps
    .steps
    {
        padding-top: 30px;
        .steps__head
        {
            font-size: clamp(14px,2vw,16px);

            text-align: center;
        }
        .steps__description
        {
            flex-direction: column;
            .steps__description__release
            {
                width: 100%;
                padding: 10px 0;

                text-align: center;
            }
            .steps__description__option
            {
                width: 100%;

                text-align: center;
            }
        }
        .steps__options
        {
            flex-direction: column;
            .steps__options__one,
            .steps__options__two,
            .steps__options__three
            {
                width: 100%;
                padding: 0;

                text-align: center;
                .steps__options__header
                {
                    text-align: center;
                    p
                    {
                        left: calc(50% + 10px);
                    }
                }
                img
                {
                    position: relative;

                    width: 50%;
                    height: auto;
                }
            }
            .steps__options__two
            {
                .steps__options__header
                {
                    p
                    {
                        left: 50%;
                    }
                }
            }
            .steps__options__three
            {
                padding-bottom: 30px;
                .steps__options__header
                {
                    p
                    {
                        top: 65%;
                        left: calc(50% + 20px);
                    }
                }
            }
        }
    }
    //story 
    .story
    {
        .story__container
        {
            flex-direction: column;

            padding: 50px 30px 50px 30px;
            .story__info
            {
                width: 100%;

                h4
                {
                    text-align: center;
                }
                p
                {
                    padding: 10px 0 20px 10px;
                }
                .story__info__btn
                {
                    margin: 0 0 30px 10px;
                }
            }
            .story__video
            {
                width: 90%;
                padding: 0;
            }
        }
        .story__video__icon
        {
            width: 40px;
            height: 40px;
            svg
            {
                width: 40px;
                height: 40px;
            }
        }
    }

    //our product block
    .our_product__wrapper
    {
        flex-direction: column;

        padding: 40px 0;

        align-items: center;
        .our_product__customize
        {
            width: 80%;
            min-width: 275px;
            margin-left: 0;
            .our_product__customize__card
            {
                left: -5%;
                h5
                {
                    padding-bottom: 0;
                }
                .our_product__customize__list
                {
                    p
                    {
                        font-size: 10px;
                    }
                    li
                    {
                        font-size: 8px;

                        padding: 0 0 0 3px;
                        &::marker
                        {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
        .our_product__description
        {
            width: 50%;
            min-width: 260px;
            max-width: 270px;
            margin-top: 70px;
            padding: 0;

            align-self: flex-start;
            h3
            {
                font-size: clamp(20px,3vw,10rem);
            }
        }
    }
}
